* {
  margin: 0px;
  padding: 0px;
}

.main-page {
  background-color: #dcdcdc;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wrapper {
  width: 22%;
  margin: 12px;
  max-width: 450px;
  -webkit-box-shadow: 2px
    7px
    10px
    0px
    rgba(
      0,
      0,
      0,
      0.25
    );
  -moz-box-shadow: 2px
    7px
    10px
    0px
    rgba(
      0,
      0,
      0,
      0.25
    );
  box-shadow: 2px
    7px
    10px
    0px
    rgba(
      0,
      0,
      0,
      0.25
    );
}
.wrapper
  img {
  width: 100%;
  height: auto;
}
@media (max-width: 900px) {
  .wrapper {
    width: 44%;
  }
}
