* {
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) {
  body {
    font-size: 20px;
  }
  .logo-head {
    position: fixed;
    bottom: 10px;
    right: 5px;
  }
  .advantages
    li {
    font-size: 16px;
  }
  .mainpage
    .advantages,
  .mainpage
    .photo-news,
  .mainpage
    .contact-order {
    width: 97%;
  }
  .head {
    overflow: auto;
  }
}
a {
  text-decoration: none;
}
body {
  background-color: rgb(
    194,
    209,
    229
  );
  background-image: url(img/Puffygoodsstore4.jpg);
  background-image: url(img/background2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'PT Sans Narrow',
    Arial
      sans-serif;

  font-size: 18px;
  font-weight: 700;
}
.head {
  position: fixed;
  top: 0;
  height: 3rem;
}
footer,
.head {
  background-color: lightcoral;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer {
  height: auto;
  color: white;
}
.text-capit {
}
.navigation {
  list-style: none;
  padding-left: 0.5rem;

  text-transform: uppercase;
}
.navigation
  img {
  vertical-align: bottom;
}
.navigation
  > li {
  display: inline-block;
  border: solid
    2px
    #fff;
  background-color: lightcoral;
  line-height: 2rem;
  cursor: pointer;
}
.navigation
  li
  a {
  color: #fff;
  padding: 5px
    10px;
  height: 2rem;
  display: block;
}
.navigation
  > li
  a:hover,
.navigation
  > li
  a:focus {
  color: red;
  background-color: #fff;
  border: solid
    2px
    red;
}
.logo-head {
  display: inline-block;
  vertical-align: bottom;
}
#loginwindow {
  position: absolute;
  display: none;
  padding: 1em;
  top: 4rem;
  width: 60%;
  left: 20%;
  background-color: white;

  border-style: solid;
  border-radius: 1rem;
  border-width: 2px;
  border-color: rosybrown;
}
.order
  > div {
  display: block;
}
.user a {
  text-decoration-line: underline;
}
.mainpage {
  margin-top: 4rem;
}
.main {
  list-style: none;
  font-size: large;
  padding: 1rem;
}
.main a {
  text-decoration: underline;
}
.main
  li:last-child {
  margin-top: 3rem;
  background-color: lightsalmon;
}
.main
  > li {
  border: solid
    2px
    blue;
  margin: 1rem;
  background-color: antiquewhite;
  padding: 0.5rem;
}
.main
  > li:hover {
  background-color: navajowhite;
}
.main
  > li
  > time {
  font-size: small;
}
.title
  > h2 {
  text-align: center;
}
.contact {
  margin: 4rem
    auto;
}
.logo {
  margin: -3rem
    auto 0
    auto;
  text-align: center;
}
.mainpage
  h1 {
  visibility: hidden;
}
.advantages
  h2 {
  display: none;
}
.mainpage
  h2,
.mainpage
  h3 {
  text-transform: uppercase;
}
.advantages {
  padding: 1rem;
  width: 75%;
  margin: 0
    auto;
}
.advantages-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px;
}
.advantages
  li {
  display: inline-block;
  width: 27%;
  padding: 0.5rem;
  border-style: solid;
  border-radius: 1rem;
  border-width: 2px;
  border-color: rosybrown;
  background: linear-gradient(
    0deg,
    #e47686,
    #faccce
  );
  font-size: 16px;
}
.advantages
  li:hover {
  background: linear-gradient(
    0deg,
    #f1b5be,
    #f8f3f3
  );
}
.advantages-list
  h3 {
  text-align: center;
  padding: 0.4rem;
}
.advantages-list
  svg {
  float: left;
  padding: 5px;
}
.photo-news,
.contact-order {
  width: 75%;
  margin: 1rem
    auto;
  display: flex;
  justify-content: space-around;
}
.photo-news
  section,
.contact-order
  section {
  display: inline-block;
  width: 43%;
  padding: auto;
  background-color: rgb(
    204,
    140,
    140,
    0.5
  );
  border: solid
    2px
    rgb(
      204,
      140,
      140
    );
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.photo-news
  h2 {
  text-align: center;
}
.photo-news
  li {
  list-style: none;
  padding: 0.3rem;
}
.photo-news
  time {
  font-size: medium;
}
.photo-news
  ul {
  padding-left: 0px;
}
.photo-news
  button {
  padding: 0.4rem
    1rem;
  background-color: lightcoral;
  border: solid
    2px
    white;
  color: white;
}
.photo-news
  button:hover {
  background-color: white;
  color: lightcoral;
}
.photo-btn {
  display: flex;
  justify-content: space-between;
}
.footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
}
