* {
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) {
  body {
    font-size: 20px;
  }
  .logo-head {
    position: fixed;
    bottom: 10px;
    right: 5px;
  }
  .advantages
    li {
    font-size: 16px;
  }
  .mainpage
    .advantages,
  .mainpage
    .photo-news,
  .mainpage
    .contact-order,
  .mainpage
    .calc-cont {
    width: 97%;
  }
  .head {
    overflow: auto;
  }
}

body {
  background-color: #84d2e6;
  background-image: url(img/background2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'PT Sans Narrow',
    Arial
      sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
a {
  text-decoration: none;
}
.head {
  position: fixed;
  top: 0;
  height: 3.5rem;
  font-weight: 700;
}
footer,
.head {
  background-color: lightcoral;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer {
  height: auto;
  color: white;
  bottom: 0px;
}
.navigation {
  list-style: none;
  padding-left: 0.5rem;

  line-height: 56px;
  text-transform: uppercase;
}
.navigation
  img {
  vertical-align: middle;
  text-align: center;
}
.navigation
  > li {
  display: inline-block;
  cursor: pointer;
}
.navigation
  li
  a {
  color: #fff;
  display: inline-block;

  padding: 0
    10px;
}
.navigation
  > li
  a:hover,
.navigation
  > li
  a:focus {
  color: lightcoral;
  background-color: #fff;
}
.logo-head {
  line-height: 3.5rem;
}
.logo-head
  img {
  display: inline-block;
  vertical-align: middle;
}
#loginwindow {
  position: absolute;
  display: none;
  padding: 1em;
  top: 4rem;
  width: 60%;
  left: 20%;
  background-color: white;

  border-style: solid;
  border-radius: 1rem;
  border-width: 2px;
  border-color: rosybrown;
}
.order
  > div {
  display: block;
}
.user a {
  text-decoration-line: underline;
}
.mainpage {
  margin-top: 4rem;
}
.main-news {
  list-style: none;
  font-size: large;
  padding: 1rem;
}
.main-news
  a {
  text-decoration: underline;
}
.main-news
  li:last-child {
  margin-top: 3rem;
  background-color: lightsalmon;
}
.main-news
  > li {
  border: solid
    2px
    rosybrown;
  margin: 1rem;
  background-color: antiquewhite;
  padding: 0.5rem;
}
.main-news
  > li:hover {
  background-color: navajowhite;
}
.main-news
  > li
  > time {
  font-size: small;
}
.title
  > h2 {
  text-align: center;
}
.contact {
  margin: 4rem
    auto;
}
.logo {
  margin: -3rem
    auto 0
    auto;
  text-align: center;
}
.mainpage
  h1 {
  visibility: hidden;
}
.advantages
  h2 {
  display: none;
}
.mainpage
  h2,
.mainpage
  h3 {
  text-transform: uppercase;
}
.advantages {
  padding: 1rem;
  width: 75%;
  margin: 0
    auto;
}
.advantages-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px;
}
.advantages
  li {
  display: inline-block;
  width: 27%;
  padding: 0.5rem;
  border-style: solid;
  border-radius: 1rem;
  border-width: 2px;
  border-color: rosybrown;
  background: linear-gradient(
    0deg,
    #e47686,
    #faccce
  );
  font-size: 18px;
}
.advantages
  li:hover {
  background: linear-gradient(
    0deg,
    #f1b5be,
    #f8f3f3
  );
}
.advantages-list
  h3 {
  text-align: center;
  padding: 0.4rem;
}
.advantages-list
  svg {
  float: left;
  padding: 5px;
}
.photo-news,
.contact-order,
.calc-cont {
  width: 75%;
  margin: 1rem
    auto;
  display: flex;
  justify-content: space-around;
}
.photo-news
  section,
.contact-order
  section,
.calc {
  display: inline-block;
  padding: auto;
  background-color: rgb(
    204,
    140,
    140,
    0.5
  );
  border: solid
    2px
    rgb(
      204,
      140,
      140
    );
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.photo-news
  section,
.contact-order
  section {
  width: 43%;
}
.photo-news
  h2,
.contact-order
  h2,
.calc h2 {
  text-align: center;
  margin: 10px
    0px;
}
.photo-news
  li {
  list-style: none;
  padding: 0.3rem;
}
.photo-news
  time {
  font-size: medium;
}
.photo-news
  ul {
  padding-left: 0px;
}
.photo-btn {
  display: flex;
  justify-content: space-between;
}
.button {
  padding: 0.7rem
    2rem;
  background-color: lightcoral;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border: solid
    0;
}
.button:hover,
.button:focus {
  color: lightcoral;
  background-color: #fff;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: large;
  border-radius: 50%;
  padding: 10px
    15px;
}
.close:active {
  border: solid
    0px;
  border-radius: 50%;
}
.photo-news
  button:hover {
  background-color: white;
  color: lightcoral;
}
.photo-btn {
  display: flex;
  justify-content: space-between;
}
.footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
}
.calc {
  width: 100%;
  margin: auto
    1rem;
}
